<div class="form">
  <div class="imgcontainer">
    <h1>Log In</h1>
  </div>

<%= form_for :login do |f| %>
  <div class="container">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="container">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="button">
      <%= f.submit 'Log In', class: 'btn btn-success' %>
  </div>
  <div>
    <%= link_to 'All Photos', photos_path, class: 'btn btn-primary' %>
  </div>
<% end %>

</div>
