<h1>Users # INDEX</h1>
<ul class="users">
  <% @users.each do |user| %>
    <li><%= user.name %>
      <%  if user.photos %>
        <% user.photos.each do |photo| %>
          <%= link_to 'Update photos', edit_photo_path(photo)  %>
          <%= image_tag photo.image.url(:large) %>
          <%= image_tag photo.description %>
      <% end %>
    <% end %>
    </li>
  <% end %>
</ul>
<%= link_to 'Add a new photo', new_photo_path %>
<%= link_to 'All Photos', photos_path %>
<%= link_to 'Make a new user', new_user_path %>
