<div class="header">
  <h1>Users</h1>
</div>

  <div class="container">
    <ul class="users">
      <% @users.each do |user| %>
        <div class="container"><%= user.name %></div>
      <% end %>
    </ul>
    <div class="btn btn-success">
      <%= link_to 'Add a new photo', new_photo_path %>
    </div>
    <div class="btn btn-success">
      <%= link_to 'All Photos', photos_path %>
    </div>

      <%= link_to 'Make a new user', new_user_path, class: 'btn btn-success' if !current_user %>

      <%= link_to 'My account', user_path(current_user), class: 'btn btn-primary' if current_user %>
  </div>
