<h1>Photos#edit</h1>
<%= form_for @photo do |f| %>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
