<h1></h1>
<div id="photoShow">
  <h1>
    My Picture
  <h1>
    <%= image_tag @photo.image.url(:large) %>
    <br>
    <%= @photo.description %>
    <div class="col-md-4 col-md-offset-4">
    <% if current_user == @photo.user %>

        <%= link_to 'Edit this Photo', edit_photo_path, class: 'btn btn-success photoShowButton' %>


        <%= link_to 'Delete this Photo', @photo, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger photoShowButton' %>

    <% end %>

    <%= link_to 'All photos', photos_path, class: 'btn btn-primary photoShowButton' %>
  </div>
</div>
